Source: wingpanel-indicator-places
Section: x11
Priority: optional
Maintainer: dirli <litandrej85@gmail.com>
Build-Depends: debhelper-compat (= 13),
               gettext,
               libgranite-dev,
               libgtk-3-dev,
               libwingpanel-dev,
               meson,
               valac (>= 0.40.3)
Standards-Version: 4.5.0
Homepage: https://github.com/Dirli/wingpanel-indicator-places
Rules-Requires-Root: no

Package: wingpanel-indicator-places
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wingpanel places indicator for disks, volumes and places management
 Manage disks, volumes, places from the panel
